// border for search results and nominations
// check colors for accessibility

body{
  background-color: rgb(173, 173, 173);
}
.container{
  display: grid;
  grid-template-columns: 60% 40%;
}
#moviesList{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  // width: 95%;
}
#movieImage{
  margin: 10px;
  width: 18vw;
  #title{
    width: 80%;
    height: 10vh;
    margin: auto;
  }
  #poster{
    height: 45vh;
    width: 15vw;
    margin: 10px auto 10px auto;
  }
}
#nominatesList{
  width: 95%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 4px outset rgb(219, 218, 218);
  margin: 10px auto;
  background-color: lightgrey;
}
#nominateImage{
  padding: 10px;
  height: 35vh;
  width: 12vw;
  margin: 10px auto 10px auto;
  #title{
    width: 10vw;
    height: 9vh;
    margin: auto;
    font-size: 60%;
  }
  #poster{
    height: 18vh;
    width: 7vw;
    margin: 10px auto 10px auto;
  }
}
#header{
  margin-bottom: 5vh;
}
#footer{
  top: auto;
  bottom: 0;
}
#links{
  color: white;
  padding-left: 10px;
}
#icon{
  padding: 5px;
  margin-bottom: 10px;
}
#labels{
  margin-top: 20px;
  font-size: x-large;
}
#main{
  margin-bottom: 20vh;
}

#welcomeCard{
  width: 50%;
  margin: 3vh auto 0 auto;
  border: 3px outset grey;
}
#alert{
  margin: 10px;
  border: 2px darkgreen solid;
  background-color: lightgreen;
  color: black;
  padding: 5px;
}
#button{
  // border: 1px darkgrey solid;
  // border-radius: 2px;
  margin-bottom: 10px;
}