body{
  background-color: rgb(173, 173, 173);
}

.container{
  display: grid;
  grid-template-columns: 60% 40%;
  // display: flexbox;
  // flex-wrap: wrap;
}
#moviesList{
  display: grid;
  grid-template-columns: 45% 45%;
}
#movieImage{
  margin: 10px auto 10px auto;
  #title{
    width: 20vw;
    height: 10vh;
    margin: auto;
  }
}
#poster{
  height: 70%;
  width: 75%;
  margin: 10px auto 10px auto;
}
#nominateImage{
  height: 40%;
  width: 40%;
  margin: 10px auto 10px auto;
  #title{
    width: 15vw;
    height: 8vh;
    margin: auto;
    font-size: 60%;
  }
}
#header{
  margin-bottom: 5vh;
}
#footer{
  top: auto;
  bottom: 0;
}
#links{
  color: white;
  padding-left: 10px;
}
#icon{
  padding: 5px;
  margin-bottom: 10px;
}
#labels{
  margin-top: 10px;
  font-size: x-large;
}
#main{
  margin-bottom: 20vh;
}

#welcomeCard{
  width: 50%;
  margin: 3vh auto 0 auto;
  border: 3px outset grey;
}